@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #c569c1;
}

* {
  font-family: "Poppins", sans-serif;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.box {
  position: relative;
  width: 400px;
  height: 200px;
  background: repeating-conic-gradient(
    from var(--a),
    #271657 0%,
    3f179e 20%,
    transparent 5%,
    transparent 40%,
    #250d91 50%
  );

  animation: rotating 4s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }

  0% {
    --a: 360deg;
  }
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  
  
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #FF9CE9;
  border-radius: 15px;
  border: 8px solid #AD56C4 ;
}

.box:hover {
  width: 450px;
  height: 500px;
}

.box:hover .login {
  inset: 40px;
}

.box:hover .loginBx {
  transform: translateY(0px);
}

.login {
  position: absolute;
  inset: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: #aa9daa33;
  color: #072472;
  z-index: 1000;
  box-shadow: inset 0 10px 20px #AD56C4;
  border-bottom: 2px solid #934ca7;
  transition: 0.5s;
  overflow: hidden;
}

.loginBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  transform: translateY(126px);
  transition: 0.5s;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}



input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 1em;
  color: #fff;
  background: #0000001a;
  border: 2px solid #fff;
  border-radius: 30px;
}

input::placeholder {
  color: #999;
}

input[type="submit"] {
  background: #AD56C4;
  border: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  transition: 0.5s;
}


.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group a {
  color: #fff;
  text-decoration: none;
}

